---
import katex from 'katex';

export interface Props {
  formula: string;
}
const { formula, block } = Astro.props;

const html = katex.renderToString(formula);
console.log(block)
---
{ block && <div style={{ display: 'flex', justifyContent: 'center'}} set:html={html}></div> }
{ !block && <span set:html={html}></span> }

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css" integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM" crossorigin="anonymous">